* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    padding: 15px;
    background-color: #adf;
    background-image: linear-gradient(to bottom right, #ddf, #adf);
    background-repeat: none;
    background-attachment: fixed;
}

.header {
    background-color: #6cf;
    border: 5px solid #38c;
    border-top: 5px solid #6ad;
    border-right: 7px solid #6ad;
    border-radius: 0.5em;
    padding: 5px;
}

.header .title {
    text-align: center;
}

.header .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-container button {
    margin: 3px 5px;
    padding: 5px 10px;
}

#bookmark-list-container {
    text-align: center;
    margin: 5px 0;
    border: 2px solid black;
    background-color: #fff;
}

#bookmark-list {
    padding-left: 0;
    margin: 0;
}

.bookmark-item {
    list-style-type: none;
    border: 1px solid black;
}
.bookmark-row {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    outline: none;
    /* display: flex;
    justify-content: space-between; */
}
.bookmark-row:hover {
    background-color: #aaa;
}
.bookmark-row:active {
    background-color: #fff;
}

.bookmark-row .bookmark-title {
    padding: 10px 0;
    display: inline-block;
    /* flex: 2; */
}
.bookmark-row .rating {
    background-color: #2af;
    color: #fff;
    padding: 10px 30px;
    float: right;
    /* flex: 1; */
}

.description-container {
    padding: 0;
    margin: 0;
    background-color: #bee;
    border-top: 2px solid black;
}
.description-container .site-link {
    margin: 10px 0;
}
.description-container .description {
    margin: 0;
    padding: 10px 5px;
    border-top: 2px solid black;
    /* max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; */
}
.drop-arrow {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
}

.hidden {
    display: none;
}