* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    padding: 15px;
    background-color: #adf;
    background-image: linear-gradient(to bottom right, #ddf, #adf);
    background-repeat: none;
    background-attachment: fixed;
}

.header {
    background-color: #6cf;
    border: 5px solid #38c;
    border-top: 5px solid #6ad;
    border-right: 7px solid #6ad;
    border-radius: 0.5em;
    padding: 5px;
}

.header .title {
    text-align: center;
}

.header .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header .error-container {
    margin: auto 20px;
}
.header .error {
    background-color: #faa;
    border: 2px solid #f55;
    padding: 5px;
    margin: 10px 0;
    color: #600;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.header .error p {
    text-align: center;
    margin: 10px;
    padding: 5px;
    background-color: #fcc;
    border: 1px dashed #c00;
}
.header .error .error-close {
    background-color: #f00;
    padding: 2px 8px;
    font-size: 20px;
    border-radius: 25%;
    height: 100%;
}

#new-bookmark-container {
    margin: 30px 30px;
    padding: 10px;
    background-color: #ff9;
    border: 3px dashed black;
    text-align: center;
}
#new-bookmark-form {

}
#new-bookmark-description {
    width: 80%;
}
.bookmark-url-container {
    padding: 5px;
}
.bookmark-url-container label {
    font-size: 20px;
}
.bookmark-url-container input[type="text"] {
    width: 80%;
    height: 30px;
    font-size: 20px;
    margin: 5px 0;
}
.description-text {
    margin: 10px 0;
    padding: auto;
    background-color: white;
}

.buttons-container button {
    margin: 3px 5px;
    padding: 5px 10px;
}

#bookmark-list-container {
    text-align: center;
    margin: 5px 15px;
    border: 2px solid #37a;
    background-color: #fff;
}

#bookmark-list {
    padding-left: 0;
    margin: 0;
}

.bookmark-item {
    list-style-type: none;
    border: 1px solid black;
}
.bookmark-row {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    outline: none;
    /* display: flex;
    justify-content: space-between; */
}
.bookmark-row:hover {
    background-color: #aaa;
}
.bookmark-row:hover .rating {
    background-color: #05f;
}
.bookmark-row:active {
    background-color: #fff;
}
.bookmark-row:active .rating {
    background-color: #2af;
}

.bookmark-row .bookmark-title {
    padding: 10px 0;
    display: inline-block;
    font-size: 20px;
    /* flex: 2; */
}
.bookmark-row .rating {
    background-color: #2af;
    color: #fff;
    padding: 10px 5px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex: 1; */
}
.bookmark-row .rating .star-fill {
    background-color: #0ff;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    min-height: 25px;
    min-width: 25px;
}
.bookmark-row .rating .star-empty {
    background-color: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    min-height: 25px;
    min-width: 25px;
}

.description-container {
    padding: 0;
    margin: 0;
    background-color: #ff9;
    border-top: 2px solid black;
}
.description-container .site-link {
    margin: 10px 0;
}
.description-container .description {
    margin: 0;
    padding: 10px 5px;
    border-top: 2px solid black;
    /* max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; */
}
.description-container button {
    margin: 10px 20px;
    padding: 5px 10px;
    font-size: 20px;
}
.description-container .edit {
    background-color: #05f;
    color: #fff;
    border-radius: 3em 0 0 3em;
    outline-style: none;
}
.description-container .edit:hover {
    background-color: #028;
}
.description-container .delete {
    background-color: #f88;
    border-radius: 4em;
    font-size: 12px;
    outline-style: none;
}
.description-container .delete:hover {
    background-color: #f33;
}

.drop-arrow {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
}

.hidden {
    display: none;
}